.heading-content {
    &_right {
        @media (min-width: $mobile) {
            text-align: right;
        }
    }

    &__subtitle {
        font-weight: 700;
        font-size: rem(23);
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: "tnum" on, "lnum" on;
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
    }
    &__spoon {
        display: inline-flex;
        width: rem(40);
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
        img {
            max-width: 100%;
        }
        &_reverse {
            @media (min-width: $mobile) {
                transform: rotate(-180deg);
            }
        }
        &_after {
            transform: translate(0px, rem(-16));
            @media (min-width: $mobile) {
                &.heading-content__spoon_reverse {
                    transform: rotate(-180deg) translate(0px, rem(16));
                }
            }
        }
    }

    h1.heading-content__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 90, 42, 1300, 479.98, 1);
        letter-spacing: 0.04em;
    }
    h2.heading-content__title {
        font-weight: 600;
        @include adaptiveValue("font-size", 64, 36, 1300, 479.98, 1);
        letter-spacing: 0.03em;
    }

    &__title {
        line-height: 130%;
        text-transform: capitalize;
        color: $primary-1;
        &:not(:last-child) {
            margin-bottom: rem(24);
            .gap & {
                @include adaptiveValue("margin-bottom", 32, 24, 1300, 767.98, 1);
            }
        }
    }

    &__text {
        font-family: "Open Sans";
        line-height: 175%;
        letter-spacing: 0.04em;
        color: $gray-1;
        &:not(:last-child) {
            margin-bottom: rem(24);
            .gap & {
                @include adaptiveValue("margin-bottom", 32, 24, 1300, 767.98, 1);
            }
        }
    }

    &__button {
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}
//========================================================================================================================================================

.special-menu {
    @media (min-width: $tablet) {
        @include adaptiveValue("padding-top", 32, 24, 1300, 767.98, 1);
    }
    &__title {
        font-weight: 600;
        @include adaptiveValue("font-size", 45, 32, 1300, 479.98, 1);
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: "tnum" on, "lnum" on;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 24, 1300, 479.98, 1);
        }
    }

    &__list {
    }

    &__item {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 24, 1300, 767.98, 1);
        }
    }
}

.special-item-menu {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-weight: 700;
        font-size: rem(23);
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: "tnum" on, "lnum" on;

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 8, 4);
        }

        @media (min-width: $tablet) {
            @include adaptiveValue("gap", 32, 16, 1300, 991.98, 1);
        }
        @media (max-width: $tablet) {
            @include adaptiveValue("gap", 32, 8, 991.98, 320, 1);
        }
    }

    &__title {
        color: $primary-1;
        flex: 1 1 auto;
    }

    &__line {
        height: rem(1);
        background-color: $white-1;
        @media (min-width: $tablet) {
            @include adaptiveValue("width", 120, 80, 1300, 991.98, 1);
        }
        @media (max-width: $tablet) {
            @include adaptiveValue("width", 120, 80, 991.98, 767.98, 1);
        }
        @media (max-width: $mobile) {
            @include adaptiveValue("width", 320, 48, 767.98, 320, 1);
        }
    }

    &__price {
        text-align: center;
    }

    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-family: "Open Sans";
        line-height: 175%;
        font-size: rem(16);
        letter-spacing: 0.04em;
        color: $gray-1;
    }

    &__tag {
        &:not(:last-child) {
            &::after {
                content: "|";
                padding: 0px rem(3);
            }
        }
    }
}

//========================================================================================================================================================

.image-wrap {
    position: relative;
    padding: rem(24);
    @media (max-width: $tablet) {
        @include adaptiveValue("max-height", 650, 250, 767.98, 320, 1);
    }
    @media (max-width: $mobile) {
        max-height: none;
        &:not(:last-child) {
            margin-bottom: rem(48);
        }
    }
    @media (max-width: $mobileSmall) {
        padding: rem(16);
    }
    &::before,
    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        @include adaptiveValue("width", 435, 150, 1680, 320, 1);
        @include adaptiveValue("height", 435, 150, 1680, 320, 1);
        background-color: $primary-1;
    }
    &::before {
        bottom: rem(0);
        left: rem(0);
    }
    &::after {
        top: rem(0);
        right: rem(0);
    }
    &-ibg {
        flex: 1 1 auto;
        height: 100%;
        @media (max-width: $mobile) {
            @include adaptiveValue("padding-bottom", 650, 250, 767.98, 320, 1);
        }
    }
}
